body {
    width: 100%;
    height: 100vh;
    margin: 0;
    /* Now, get rid of the horizontal scroll-bar, by setting the body default margin added by some browsers to 0*/
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

label {
    display: block;
    margin: 0.5rem 0;
}

h1,
p {
    text-align: center;
    margin: 1em auto;
}

form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
    border-bottom: none;
}

input,
textarea,
select {
    width: 100%;
    margin: 10px 0px 0px 0px;
    /*Add new 11.05.2023*/
    min-height: 2em; 
}

.inline {
    width: unset;
    /*Select only the .inline elements, and give them width of unset. This will remove the earlier rule which set all the input elements to width: 100%.*/
    margin-right: 0.5em;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    vertical-align:middle;
}

/* Add New style on input and text area field_11.05.2023 */
input, textarea{
    background-color:#0a0a23;
    border:1px solid #0a0a23;
    
    color:#ffffff;
  }